/out
bin/
[Bb][Uu][Ii][Ll][Dd]*/
/.vs
.idea/
.gradle/
.cxx/
CMakeSettings.json
Makefile
.vscode
SENSE_THE_GAME_MODLOADER.sh
external/
libsdl/
local.properties
debug/
release/
*.log
# Binary artifacts (built outputs)
*.dll
*.lib
*.exp
*.pdb
# Steamworks redistributable needed by CI
!app/src/main/assets/steam_api64.dll
